<section class="view">
  <div style="display: flex; border: 1px solid; width: 318px;">
    <img src="data: image/png; base64, <%= @drive.barcode %>" alt="Red dot" style="height: 86px;" />
    <div>
      <p>1stavemachine</p>
      <%= @drive.name %>
    </div>
  </div>
</section>
