<tr>
  <td><%= link_to "#{drive.name}", drive %></td>
  <td><%= link_to "#{drive.project}", drive %></td>
  <td><%= link_to "#{drive.location}", drive %></td>
  <td><%= link_to "#{drive.date_created}", drive %></td>
</tr>
