<tr>
  <td><%= link_to "#{drive.name}", drive %></td>
  <td><%= drive.project %></td>
  <td><%= "#{drive.capacity} TB" %></td>
  <td><button class='table-button'><%= link_to "View", drive %></button></td>
</tr>
