<tr>
  <td><div><%= link_to "#{drive.name}", drive %></td></div>
  <td><%= drive.project %></td>
  <td><%= drive.location %></td>
  <td><button class='table-button'><%= link_to "View", drive %></button></td>
</tr>
