<section class="view">
  <div>
    <h2>Drives</h2>
    <table class="table-minimal">
      <thead>
        <tr>
          <th>Name</th>
          <th>Project</th>
          <th class="narrow-column">Location</th>
          <th class="narrow-column">Date Created</th>
        </tr>
      </thead>
      <tbody>

        <%= render @drives %>

      </tbody>
    </table>
  </div>
</section>

<div class="user-controls">
  <%= will_paginate @drives %>
</div>
