<h2><%= @drive.number %></h2>

<div>
  <h3>Archived Projects</h3>
  <ul>
    <% @projects.each do |project| %>
      <li><%= link_to "#{project.job_number}", project %></li>
    <% end %>
  </ul>
</div>
