body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3 {
  font-family: $heading-font-family;
  font-size: $base-header-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  text-align: center;
  color: $medium-gray;
  font-weight: 200;
}

p,
.form-errors {
  margin: 0 0 $small-spacing;
  line-height: $base-line-height / 2;
}

a {
  color: $dark-gray;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus {
    outline: none;
  }
}

.form-errors {
  color: red;
  text-align: center;
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
