// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$base-header-size: 1.5em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$logo-font-size: 1.8em;
$table-padding: .75em 1em;
$navigation-padding: 1em;
$navigation-height: 60px;

// Colors
$blue: #477dca;
$dark-gray: #333;
$semi-dark-gray: #555;
$medium-dark-gray: #777;
$medium-gray: #999;
$light-gray: #ddd;
$off-white: rgb(235, 235, 235);

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;
$navigation-color: transparentize(white, 0.3);
$navigation-color-hover: white;
$navigation-active-link-color: transparentize(white, 0.5);

// Backgrounds
$base-background-color: #fff;
$table-header-background: lighten($base-background-color, 10);
$table-hover-background: darken($base-background-color, 2);
$navigation-background: $dark-gray;

// Border
$base-border-color: $medium-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Switch
$switch-width: 39px;
$switch-padding: 2px;
$switch-height: 24px;
$switch-radius: $switch-height;
$knob-size: $switch-height - ($switch-padding * 2);
$knob-radius: $switch-height - ($switch-padding * 2);
$knob-width: $knob-size;
$switch-background: $base-background-color;
$switch-border-background: darken($base-background-color, 15%);
$switch-shadow: 0 2px 5px transparentize(black, 0.5);
