  <tr>
    <td><%= link_to "#{project.name}", project %></td>
    <td><%= project.job_number %></td>
    <td><%= project.status %></td>
    <td><button class='table-button'><%= link_to "View", project %></button></td>
  </tr>
 
