<h1>StudioBase</h1>

<div>
  <ul>Projects</ul>
  <% @projects.each do |project| %>
    <li><%= link_to "#{project.project_number}", project %></li>
  <% end %>
</div>

<%= link_to "New Project", new_project_path %>
