<h2><%= @project.job_number %></h2>

<div>
  <h3>Archived in:</h3>
  <ul>
    <% @drives.each do |drive| %>
      <li><%= link_to "#{drive.number}", drive %></li>
    <% end %>
  </ul>
  <%= link_to 'Edit', edit_project_path(@project) %>
  <%= link_to 'Add Archive', new_archive_path(project_id: @project) %>
</div>
