<section class="half--wide">
  <h2><%= @project.job_number %></h2>

  <div class="small-table">
    <h3>Archived in:</h3>
    <table class="table-minimal">
      <thead>
        <tr>
          <th>Number</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <% @drives.each do |drive| %>
          <tr>
            <td><%= link_to "#{drive.number}", drive %></td>
            <td>{archive type}</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <button class='small-button'><%= link_to 'Add Archive', new_project_archive_path(@project) %></button>
  </div>
  <button><%= link_to 'Edit', edit_project_path(@project) %></button>
</section>
