<section class="view">
  <div>
    <h2>Projects</h2>
    <table class="table-minimal">
      <thead>
        <tr>
          <th>Name</th>
          <th>Project</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>

        <%= render @results %>

      </tbody>
    </table>
  </div>
</section>
