// Nav menu

nav {
  float: right;
}

.navigation-menu {
  -webkit-transform-style: preserve-3d; // stop webkit flicker
  display: inline;
}

// The nav items

.nav-link {
  display: inline;
  line-height: $navigation-height;
  padding-right: 0.8em;

  a {
    color: $navigation-color;
    font-weight: 400;
    text-decoration: none;
    padding-right: 1em;

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }
}

// The nav search bar

.search-bar {
  display: inline;

  form {
    display: inline;
    font-size: .9em;

    input {
      width: 14em;
      background: $semi-dark-gray;
      border: $medium-dark-gray;
      display: inline;
      color: white;

    }

    button[type=submit] {
      transform: translate(0em, -0.1em);
      background: transparent;
      display: inline;
      height: 2em;
      width: 2em;
      margin: 0;
      padding: .3em;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;

      img {
        opacity: 0.3;
      }
    }
  }
}
