section {
  @include outer-container;
  border: $base-border;
  border-radius: $base-border-radius;
  background: white;
  padding: 1em;

  h2 {
    font-size: $base-header-size * 1.3;
    text-align: left;
    word-wrap: break-word;
  }
}

section.half--wide {
  @include span-columns(6);
  @include shift(3);
  margin-top: 1em;
  td a {
    display: block;
    padding-left: 1em;
  }
}

.admin-controls {
  float: right;
  font-size: $base-font-size * .9;
}

tbody {
  tr:hover > td, tr:hover > th {
    background-color: $table-hover-background;
  }
  tr:first-child td {
    border-top: 2px solid $base-border-color;
  }
}

thead {
  th {
    border-bottom: 0px;
    text-align: left;
  }
}

.table-minimal {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  tbody {
    tr {
      height: 4.5em;
    }
    td {
      border-bottom: 0px;
      border-top: $base-border;
      word-wrap: break-word;
      a {
        display: block;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 1em;
      }
    }
  }
}

.narrow-column {
  width: 12em;
}
