<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <h1 class="logotype">Studio<span class="base-text">Base</span></h1>
    <nav role="navigation">
      <ul class="navigation-menu">
        <li class="nav-link"><%= link_to "Projects", projects_path %></li>
        <li class="nav-link"><%= link_to "Drives", drives_path %></li>
        <li class="nav-link"><%= link_to "New Project", new_project_path %></li>
        <li class="nav-link"><%= link_to "New Drive", new_drive_path %></li>
      </ul>
    </nav>
  </div>
</header>
